
{:pom {:group-id "respo",
       :artifact-id "message",
       :version "0.3.5",
       :name "Message component on the right top"}
 :packaging {:jar {:enabled true
                   :remote-repository {:id "clojars"
                                       :url "https://clojars.org/repo"}}}
 :scm {:enabled true}}
